*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:none;
}
img{width: 100%}
ul{list-style: none}
a{text-decoration: none}

.font-o{font-family: 'Open Sans', sans-serif;}
.font-r{font-family: 'Roboto', sans-serif;}
/*CABECALHO*/
.container{padding: 0 30px;}
.container-cabecalho{
	box-shadow: 1px 1px 2px #00AAFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

#logo{
	width: 160px;
	height: 56px;
	font-size: 0;
	background:url(../img/logo.png) no-repeat center/ 160px;
}


.btn-menu{
	width: 35px;
	height: 33px;
	cursor: pointer;
	padding:2px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	z-index: 2;
}

.btn-menu .linha{
	width: 100%;
	height: 4px;
	background-color: #3c4e64;
}

/*Animação do botão menu*/
.btn-menu-toggle{
	display: flex;
}
.btn-menu-toggle .linha0,.btn-menu-toggle .linha2{
	width: 0;
	height: 0;
	transition: .2s;
}
.btn-menu-toggle .linha1{
	transform: rotate(45deg);
	transition: .3s;
	background-color: #fff;
}

.btn-menu-toggle .linha1::after{
	content: "";
	width:100%;
	height: 4px;
	background-color: #fff;
	position: absolute;
	top:0;
	left: 0;
	transform: rotate(90deg);
}


/*CONFIGURAÇÃO CONTENT MENU*/
.content-menu{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	transform: translateX(-100%);
	transition: .6s;
}
/*content menu*/
.content-menu-toggle{
	transform: translateX(-0%);
	transition: .6s;
}

/*menu*/
.content-menu .menu{
	width: 300px;
	height: 100%;
	position: fixed;
	top:0;
	left: 0;
	background-color: #fff;
	transform: translateX(-100%);
	transition: .9s;
}
.content-menu-toggle .menu{
	transform: translateX(0%);
	transition: .9s;
}

/*midias digitais*/
.menu .midias-sociais{
	width: 100%;
	display: flex;
	background-color: #FFFFFF;
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
}
.menu .midias-sociais li{display: block;flex:1; text-align: center;}
.menu .midias-sociais li a.icon{
	padding: 10px;
	display: block;
	font-size: 1.5em;
	cursor: pointer;
}
.menu .midias-sociais li a.icon:hover{transform: scale(1.05);}
.midias-sociais li a.icon-fb{color: #4164ac}
.midias-sociais li a.icon-insta{color: #f24d57}
.midias-sociais li a.icon-yt{color: #e93c25}

/*busca organica*/
.busca-organica{
	width: 100%;
	padding: 0 20px;
	margin-bottom: 30px;
}
.busca-organica form{
	display: flex;
}
.busca-organica form .ipt-busca{
	padding: 6px;
	flex:1;
	border:1px solid #eee;
}
.busca-organica form .btn-busca{
	padding: 6px 10px;
	background-color: #333;
	color: #fff;
	cursor: pointer;
}

/*itens do menu*/
.menu li{
	display: block;
}
.menu li a.item-menu{
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: .9em;
	padding: 10px 20px;
	color: #333;
	font-family: 'Roboto', sans-serif;
}
.menu li a.item-menu:hover{
	background-color: #333;
	color: #fff;
}

/*submenu*/
.btn-submenu{
	display: block;
}
.btn-submenu .icon-submenu{transition: .3s}

.btn-submenu-active .icon-submenu{
	transform: rotate(90deg);
	transition: .3s;
}

.submenu{
	background-color: #ccc;
	padding-left: 10px;
	max-height: 0;
	overflow: hidden;
	transition: .5s;
}
.submenu li{
	display: block;
}

.submenu li a.item-submenu{
	display: block;
	background-color: #eee;
	padding: 10px 20px;
	color: #333;
	font-family: 'Roboto', sans-serif;
	font-size: .9em;
}
.submenu li a.item-submenu:hover{
	background-color: #333;
	color: #fff;
}
/*login cadastro rodapé do menu*/
.login-cadastro{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	background-color: #efefef;
}

.login-cadastro #btn-login {
	flex: 1;
	text-align: center;
	padding: 15px 20px;
	border-right: 1px solid #ddd;
	font-family: 'Open Sans', sans-serif;
	font-size: .8em;
	color: #333;
	cursor: pointer;
}
.login-cadastro #btn-cadastro {
	display: block;
	padding: 15px 20px;
	flex: 1;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: .8em;
	color:#333;
	cursor: pointer;
	
}